.field {
  width: 100%;
}

.search_bar {
  border-radius: 40px !important;
}

.form {
  display: flex;
  flex-direction: row;
}

.search_button {
  border-radius: 10px;
  height: 40px;
  margin-left: 10px;
  color: white;
  background-color: #f00;
}
